{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'indumentaria/styles.css' %}">
    <title>familia</title>
</head>
<body>
    <h1>MI FAMILIA</h1>
    <h3>ELLOS SON:</h3>
    <table>
        <thead>
            <td>Nombre</td> <!-- table data-->
            <td>Edad</td>
            <td>Fecha_nacimiento</td>
        
        </thead>
        {% for familia in familiar %}
        <tr>  <!--- tr = table row-->
            
            <td>{{ familia.nombre }}</td>
            <td>{{ familia.edad}} </td>
            <td>{{ familia.fecha_nac }}</td>
           
        </tr>
         {% endfor %}
    </table>
</body>
</html>